In [1]:
# pip install mysql-connector-python

In [11]:
import mysql.connector
database = mysql.connector.connect(host = "localhost",
                                   user = "root",
                                   password = "",
                                    database = "learningxampp")
db = database.cursor()

In [1]:
print(db)

NameError: name 'db' is not defined

In [12]:
db.execute("SELECT * FROM table1")
result = db.fetchall()
for x in result:
    print(x)

(2, 'Rakesh', 42, 53, None)
(4, 'Ravi', 54, 98, None)
(6, 'Suresh', 53, 95, None)
(11, 'tom', 43, 66, 'newvalue')

In [13]:
db.execute('SELECT * FROM table1 where name = "Rakesh" ')
result = db.fetchall()
for x in result:
    print(x)

(2, 'Rakesh', 42, 53, None)

In [3]:
db.execute("ALTER TABLE table1 ADD newcolumn varchar(20)")

NameError: name 'db' is not defined

In [14]:
database.commit()

In [5]:
db.execute("SELECT * from table1")
result = db.fetchall()
for x in result:
    print(x)

NameError: name 'db' is not defined

In [15]:
db.execute('INSERT INTO table1(sn, name, physics, maths, newcolumn) VALUES (11, "tom", 43, 66, "newvalue")')

IntegrityError: 1062 (23000): Duplicate entry '11' for key 'PRIMARY'

In [16]:
db.execute("SELECT * from table1")
result = db.fetchall()
for x in result:
    print(x)

(2, 'Rakesh', 42, 53, None)
(4, 'Ravi', 54, 98, None)
(6, 'Suresh', 53, 95, None)
(11, 'tom', 43, 66, 'newvalue')

In [8]:
db.commit()

NameError: name 'db' is not defined

In [ ]:
database.commit()

In [17]:
name = input("Enter you name")
physics = int(input("Physics marks"))
maths = int(input("Enter maths marks"))
total = physics  + maths

sl = f''' 
    INSERT INTO table1(name, physics, maths) VALUES('{name}', {physics}, {maths})
'''
db.execute(sl)

Enter you name dfas
Physics marks 33
Enter maths marks 55

In [20]:
db.execute("SELECT * from table1")
result = db.fetchall()
for x in result:
    print(x)

(0, 'dfas', 33, 55, None)
(2, 'Rakesh', 42, 53, None)
(4, 'Ravi', 54, 98, None)
(6, 'Suresh', 53, 95, None)
(11, 'tom', 43, 66, 'newvalue')

In [24]:
db.execute('INSERT INTO table1(newcolumn) VALUES ("A")')
db.execute("SELECT * from table1")
result = db.fetchall()
for x in result:
    print(x)

IntegrityError: 1062 (23000): Duplicate entry '0' for key 'PRIMARY'